html,body, img, input, label, legend, li, mark, ol,div,p,section, span, strong, textarea, time, ul, var input,em{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "微软雅黑","宋体";
    font-size: 16px;
    font-style: normal;
    color: #333;
    list-style: none;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
h1,h2,h3{
    margin: 0;
}

#app{
    /* background:#e3e1e8; */
    background: #eee;
    background-size: 100% 100%;
    min-height: 100vh;
    position: relative;
}
#app .main{
    padding: 20%;
    position: relative;
}
#app .bg-top{
    text-align: center;
    /* width: 196px;
    height: 223px;
    background: url('https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=86ba01c4fa1f4134f43a0d2c4476feaf/9345d688d43f87948466d409d51b0ef41bd53a7f.jpg') no-repeat scroll 0 0;
    position: relative;
    left: 50%;
    margin-left: -95px; */
}
#app .login-box{
    background:#fff;
    width:80%;
    height:240px;
    position:absolute;
    top:260px;
    left:10%;
    text-align:center;
    color:#666;
    font-size:17px;
    border-radius:8px;
}
.login-box .content{
    padding: 15px;
}
.login-box .title{
    text-align: center;
    font-size: 16px;
}
.login-box .input{
    border-bottom: 1px solid #eee;
    text-align: left;
    margin-top:15px;
    width: 100%;
    padding: 5px;
}
.createWrapper .bg{
    background-color: #EFEFF4;
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
}
.mainErea {
    position: absolute;
    top: 160px;
    bottom: 0;
    width: 100%;
    padding: 0 16px 10px;
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.mainErea h2{
    font-size: 22px;
}
.mapErea {
    margin: 15px 0;
    height: 150px;
}
.clockBtn {
    display: block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 30px;
    border: none;
    background: #f5f5f5;
    color: #333;
    outline: none;
}
.clockBtn.lg {
    background: #66AE77;
    color: #fff;
}

[v-cloak] {
    display: none!important;
}