<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="countingmoney/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="countingmoney/js/jquery.min.js"></script>
    <script type="text/javascript" src="countingmoney/js/flexible.js"></script>
    <script type="text/javascript" src="countingmoney/js/gui.js"></script>
    <style>
        .list{
            height: calc(100vh - 150px);
            overflow: auto;
        }
        #dataTable{
            width: 90%;
            color: white;
            font-size: 16px;
            box-sizing: border-box;
            margin: 20px auto 0;
        }
        #dataTable td{
            padding: 5px;
            border-bottom: 1px solid #ccc;
        }
    </style>
    <script>
        $(function(){
            
            $('#seeRank').click(function(){
                $.get('/getGameConfig',function(res){
                    if(res.data.end=='true'){
                        $('.fuck').fadeIn()
                        $.get('/getGameScore',function(params){
                            console.log(params.data);
                            var arr = params.data;
                            var table = $('#dataTable');
                            var content = '<tr><td>手机号</td><td>分数</td></tr>';
                            arr.forEach(function(el){
                                content += '<tr><td>'+el.number+'</td><td>'+el.score+'</td></tr>'
                            });
                            table.html(content)
                        })
                    }else{
                        alert('请等待游戏结束')
                    }
                })
            })
        })
    </script>
</head>
<body>
    <div class="detail">
        <!-- <div class="title" style="overflow: hidden"> <img src="countingmoney/images/help.png" ></div> -->
        <div class="user_info">
            <div class="user_icon">
                <img src="countingmoney/images/user_icon.png">
                <p>小可爱的年终奖是</p>
                <p>1300</p>
            </div>
        </div>
        <div class="detail_bottom">
            <!-- <ul>
                <li><img src="countingmoney/images/ph.png" class="ph"> </li>
                <li><a href="/game-index"><img src="countingmoney/images/re.png"> </a></li>
            </ul> -->
            <div style="text-align: center;" id="seeRank"><img style="width: 200px;" src="countingmoney/images/ph.png" ></div>
        </div>
    </div>

    <div class="fuck">
        <div class="title" style="font-size: 18px;color: #fff;text-align:center;padding:10px;">
           排行榜
        </div>
        <div class="list" style="min-height: 400px;">
            <table id="dataTable">

            </table>
        </div>
        <div class="close">
            <p>关闭</p>
        </div>
    </div>

</body>
</html>