<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="countingmoney/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="countingmoney/js/jquery.min.js"></script>
    <script type="text/javascript" src="countingmoney/js/flexible.js"></script>
    <script type="text/javascript" src="countingmoney/js/script.js"></script>

</head>
<body>
    <div class="money">
        <div class="money_one">
            <div class="slg"><img src="countingmoney/images/1.png"></div>
            <div class="slg_two"><img src="countingmoney/images/2.png"></div>
            <div class="up"><img src="countingmoney/images/up.png"> </div>
        </div>
        <div class="money_two">
            <div class="money_add"><span>$1000</span></div>
            <div class="money_time"><img src="countingmoney/images/time.png"> <span>30</span></div>
        </div>


        <div class="money_en"> <img src="countingmoney/images/4.jpg"></div>
        <div class="money_pos"> <img src="countingmoney/images/4.jpg"></div>
        <div class="ri">
            <div class="p1 p"> <img src="countingmoney/images/3.png"></div>
            <div class="p2 p"> <img src="countingmoney/images/3.png"></div>
            <div class="p3 p"> <img src="countingmoney/images/3.png"></div>
            <div class="p4 p"> <img src="countingmoney/images/3.png"></div>
            <div class="p5 p"> <img src="countingmoney/images/3.png"></div>
            <div class="p6 p"> <img src="countingmoney/images/3.png"></div>
        </div>

    </div>
    <audio src="countingmoney/music/all.mp3" id="music" ></audio>
	 <div class="user_info">
        <div class="user_info_one">
            <div class="user_info_two">
                <div class="contact">
                    <ul>
                        <li>
                            <label>姓名：</label>
                            <input type="text" class="name" name="" value="" placeholder="请输入你的姓名">
                        </li>
                        <li>
                            <label>电话号码：</label>
                            <input type="text" class="number" name="" value="" placeholder="请输入你电话号码">
                        </li>
                        <p style="width:90%; margin:2% auto; text-align:center; font-size:1em; color:#a8a8a8">获取信息只作领奖用，不作他用</p>
                        <div class="footer">
                            <a href="javascript:void(0)" id="btn">确认提交</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>