<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="countingmoney/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="countingmoney/js/flexible.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="countingmoney/js/gui.js"></script>
</head>
<body>
    <div class="index">
        <header class="title">
            <img src="countingmoney/images/gz.png" class="gz">
        </header>
        <footer class="index_btn">
            <a href="/game"><img src="countingmoney/images/index_btn.png"></a>
        </footer>
    </div>

    <div class="fuck">
        <div class="title">
            <ul>
                <li class="active"><span>活动说明</span></li>
                <li><span class="phbs">排行榜</span></li>
                <li><span style="border:none" class="my_jp">我的奖品</span></li>
            </ul>
        </div>
        <div class="fuck_info" >
            <div style="margin-bottom:1rem">
                <span class="box">活动时间</span>
                <div style="margin: .5rem auto ;">
                    <p>2018年2月6日12:00 - 2018年2月8日16:00</p>
                </div>
            </div>
            <div style="margin-bottom:1rem">
                <span class="box">游戏规则</span>
                <div style="margin: .5rem auto ;">
                    <p>• 限时30秒，根据数钱金额大小决定排行榜名次</p>
                    <p>• 参与游戏即可获得神秘红包，数量有限，先到先得</p>
                    <p>• 设前10名进入排行榜入围名单，按排名先后获得相应奖品</p>
                    <p>• 每人每天有3次机会冲击排行榜，分享至朋友圈可获得1次冲击机会</p>
                </div>
            </div>
            <div style="margin-bottom:1rem">
                <span class="box">活动奖品</span>
                <div style="margin: .5rem auto ;">
                    <p>第1名：1000元洋展购购物卡/1张 </p>
                    <p>第2—5名：500元洋展购购物卡/1张</p>
                    <p>第6—10名：200元洋展购购物卡/1张</p>
                    <p>参与游戏须提交自己的个人信息（姓名+电话），凭借个人信息到晶融汇购物中心一期服务台领取奖品</p>
                </div>
            </div>
            <div style="margin-bottom:1rem">
                <span class="box">参与须知</span>
                <div style="margin: .5rem auto ;">
                    <p>本次活动本着公平参与的原则，主办方将会对线上游戏进行全程监控，获奖情况以后台真实数据为准，如若发现有违规操作，将取消获奖资格。</p>
                    <p>本活动最终解释权归晶融汇购物中心所有。</p>
                </div>
            </div>

        </div>
        <div class="fuck_info">
            <!-- <p class="dq">当前排名：<span>名</span></p> -->
            <ul class="blod">
                <li>排行</li>
                <li>头像</li>
                <li>昵称</li>
                <li>成绩</li>
            </ul>
            <div class="list" id="rank_list">

            </div>
        </div>
        <div class="fuck_info" >
            <p class="dq" style="text-align: center;">继续加油哦~</p>
            <ul class="blods blod">
                <li style="width:33.33% !important">奖品名称</li>
                <li style="width:33.33% !important">昵称</li>
                <li style="width:33.33% !important">时间</li>
            </ul>
            <div class="" id="list">


            </div>
        </div>
        <div class="close">
            <p>关闭</p>
        </div>
    </div>
</body>
</html>